<h1>
    <%= @question.question %>
</h1>

<table class="table table-striped">
    <tr>
        <th>Question &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</th>
        <th>Question Type &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</th>
        <th>Maximum score &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</th>
    </tr>
    <tr>
        <td> <%= @question.question %></td>
        <td> <%= QuestionType.find(@question.question_type_id).question_type %></td>
        <td> <%= @question.maximum_score %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
        <td> <%= link_to 'Edit', edit_question_path(@question)%>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
        <td> <%= link_to 'Destroy', @question, :confirm => 'Are you sure?', :method => :delete %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
    </tr>     
</table>

<br/>
<%= link_to 'Add Questions', questions_path %>