<h1>
    <%= @question.question %>
</h1>

<table>
    <tr>
        <th>Question</th>
        <th>Question Type</th>
        <th>Maximum score</th>
    </tr>
    <tr>
        <td> <%= @question.question %></td>
        <td> <%= QuestionType.find(@question.question_type_id).question_type %></td>
        <td> <%= @question.maximum_score %></td>
        <td> <%= link_to 'Edit', edit_question_path(@question)%></td>
        <td> <%= link_to 'Destroy', @question, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>     
</table>

<br/>
<%= link_to 'Add Questions', questions_path %>