%h1 Gradesheet

= form_tag '/gradesheets/' + params[:id], :method => :put do

    %h3
        Project: 
        %label{:id => "project"} 
            = "#{@project}"
        %br
        Location:
        %label{:id => "location"}
            = "#{@location}"
        // %br
        // Judge ID:
        // %label{:id => "judge_id"}
        //     = "#{@judge_id}"
    
    %table#questions
        %thead
            %tr
                %th Question Type
                %th Question
                %th Score
                %th Comment
            %tbody
                - @questions.each do |q|
                    %tr
                        %td= q.question_type.question_type
                        %td= q.question
                        %td= select q.id, :score, options_for_select(1.upto(q.maximum_score))
                        %td= text_area_tag :comment.to_s + q.id.to_s
                        
        
    // %br
    // %label="Enter your comments here, if any"
    // %br
    // =text_area_tag :comment
                        
    %br
    %button#submit Submit Scores