<%= render 'shared/error_messages', :object => f.object%>
<div class="form-group">
    <label>
    <%= f.label :name %>
    <%= f.text_field :name ,placeholder: "enter name" %>
    </label>
</div>
<div class="form-group">
    <label>
    <%= f.label :location%>
    <%= f.text_field :location ,placeholder: "enter location" %>
    </label>
</div>
<div class="form-group">
    <label>
    <%= f.label :date%>
    <%= f.datetime_field :date ,placeholder: "mm/dd/yyyy"%>
    </label>
</div>

