<h1>
    Listing Contests
</h1>

<table>
    <tr>
        <th>Name &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</th>
        <th>Location  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</th>
        <th>Date  &nbsp;&nbsp;&nbsp;</th>
    </tr>
<% @contests.each do |contest| %>
    <tr>
        <td> <%= contest.name %></td>
        <td> <%= contest.location %></td>
        <td> <%= contest.date %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
        <td> <%= link_to 'Show',contest %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
        <td> <%= link_to 'Edit', edit_contest_path(contest)%>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
        <td> <%= link_to 'Destroy', contest, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>     
<% end %>
</table>
<br/>
<%= link_to 'New Contest', new_contest_path %>
