<h1>
    Listing Contests
</h1>

<table class="table table-striped">
    <tr class="success">
        <th>Name </th>
        <th>Location </th>
        <th>Date  </th>
        <th>Actions</th>
    </tr>
<% @contests.each do |contest| %>
    <tr>
        <td> <%= contest.name %></td>
        <td> <%= contest.location %></td>
        <td> <%= contest.date %></td>
        <td> 
            <%= link_to 'Show',contest %>
            <%= link_to 'Edit', edit_contest_path(contest)%>
            <%= link_to 'Destroy', contest, :confirm => 'Are you sure?', :method => :delete %>
        </td>
    </tr>     
<% end %>
</table>
<br/>
<%= link_to 'New Contest', new_contest_path %>
