<h1>
    <%= @contest.name %>
</h1>

<table>
    <tr>
        <th>Location &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</th>
        <th>Date</th>
    </tr>
    <tr>
        <td> <%= @contest.location %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
        <td> <%= @contest.date %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
        <td> <%= link_to 'Edit', edit_contest_path(@contest)%>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
        <td> <%= link_to 'Destroy', @contest, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>     
</table>

<br/>
<br/>
<h3>Categories</h3>
<div>
    <% @contest.categories.each do |category| %>
        <br/>
        <%= category.name %><br/>
        <%= link_to 'Add projects', new_project_path%><br/>
        <%= link_to 'Edit', edit_contest_category_path(@contest, category)%><br/>
        <%= link_to 'Destroy', [@contest, category], :confirm => 'Are you sure?', :method => :delete %></td>
        <br/>
    <% end %>   
</div>
<br/>
<br/>
<%= link_to 'Upload Contest File', new_contest_attachment_path(@contest) %>
<br/>
<%= link_to 'Add Judges to projects', controller: "users" %>
<br/>
<%= link_to 'Scores', controller: "scores" %>
<br/>
<%= link_to 'New Category', new_contest_category_path(@contest,@category) %>
<br/>
<%= link_to 'Back to Contests', contests_path %>
