<h1>
    <%= @contest.name %>
</h1>
<div>
    <table class="table table-striped">
        <tr>
            <th>Location</th>
            <th>Date</th>
            <th>Actions</th>
            <th></th>
        </tr>
        <tr>
            <td> <%= @contest.location %></td>
            <td> <%= @contest.date %></td>
            <td> <%= link_to 'Edit', edit_contest_path(@contest)%>
            <%= link_to 'Destroy', @contest, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>     
    </table>
</div>
<div>
    <h3>Categories</h3>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        <% @contest.categories.each do |category| %>
        <tr>
            <th>
                <%= category.name %>&nbsp;
            </th>
            <th>
                <%= link_to 'Show', contest_category_path(@contest, category)%>&nbsp;
                <%= link_to 'Edit', edit_contest_category_path(@contest, category)%>&nbsp;
                <%= link_to 'Destroy', [@contest, category], :confirm => 'Are you sure?', :method => :delete %></td>
            </th>
        </tr>
        <% end %>   
    </table>
<%= button_to 'New Category', new_contest_category_path(@contest,@category) %>
</div>
<div>
    <h3>Projects</h3>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        <% @contest.projects.each do |project| %>
        <tr>
            <th>
                <%= project.name %>&nbsp;
            </th>
            <th>
                <%= link_to 'Show', contest_project_path(@contest, project)%>&nbsp;
                <%= link_to 'Edit', edit_contest_project_path(@contest, project)%>&nbsp;
                <%= link_to 'Destroy', [@contest, project], :confirm => 'Are you sure?', :method => :delete %>
            </th>
        <% end %>   
    </table>
    <%= link_to 'Add project', new_contest_project_path(@contest) %><br/>
</div>
<div>
<%= button_to 'Upload Projects File', new_contest_attachment_path(@contest) %>
<br/>
<%= link_to 'Add Judges to projects', controller: "users" %>
<br/>
<%= link_to 'Download Scores', controller: "scores" %>
<br/>

<%= link_to 'Back to Contests', contests_path %>
<br/>
<%= link_to 'Add Question Types', question_types_path %>
<br/>
<%= link_to 'Add Questions', questions_path %>
</div>