<h1>
    <%= @contest.name %>
</h1>

<table>
    <tr>
        <th>Location</th>
        <th>Date</th>
    </tr>
    <tr>
        <td> <%= @contest.location %></td>
        <td> <%= @contest.date %></td>
        <td> <%= link_to 'Edit', edit_contest_path(@contest)%></td>
        <td> <%= link_to 'Destroy', @contest, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>     
</table>
<br/>
<%= link_to 'Back to Contests', contests_path %>
