<h1>
    Add new Category
</h1>
<div>
<%= form_for ([@contest, @category]) do |f| %>
    <%= render 'shared/error_messages', :object => f.object%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Create" %> 
<% end %>
</div>
