<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Contest Judging" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Contest Judging" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container theme-showcase" role="main">
       <div class="jumbotron">
         <%= render 'layouts/messages' %>
         <%= yield %>
        </div>
    </div>
  </body>
</html>
